html {
    width: 100%;
    overflow-x: hidden !important;
}

body {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    overflow-x: hidden !important;
}

#score {
    color: white;
    font-size: 24px;
}

#leader {
    color: white;
    font-size: 24px;
}

#instructions {
    position: absolute;
    color: white;
    text-align: left;
}

@media (max-width: 606px) {
    #instructions {
        position: relative;
        float: left;
    }

    canvas {
        width: 100%;
    }
}

@media (min-width: 606px) and (max-width: 1366px) {
    #instructions {
        position: relative;
        float: left;
    }

    canvas {
        width: 606px;
    }
}

@media (min-width: 1050px) {
    #touch {
        display: none !important;
    }
}

#touch {
    width: 100%;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#up, #down, #left, #right {
    color: deepskyblue;
}